#
####### python sdk-requirements.txt #######
#
###### Requirements without Version Specifiers ######
sphinx
nose
nose-cov
pylint
wheel
#
###### Requirements with Version Specifiers ######
#
urllib3 >= 2.5.0
certifi
#
